In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
''' For 1D data processing use pandas series and 2dimensional use DataFrama'''

' For 1D data processing use pandas series and 2dimensional use DataFrama'

In [4]:
index = [('Cali',2000),('Cali',2010),
         ('NY',2000),('NY',2010),
         ('TX', 2000),('TX', 2010)]

In [6]:
populations = [33,37,
              18,19,
              20,25]

In [7]:
pop = pd.Series(populations, index = index)

In [8]:
pop

(Cali, 2000)    33
(Cali, 2010)    37
(NY, 2000)      18
(NY, 2010)      19
(TX, 2000)      20
(TX, 2010)      25
dtype: int64

In [12]:
pop[('Cali', 2010):('TX', 2000)]

(Cali, 2010)    37
(NY, 2000)      18
(NY, 2010)      19
(TX, 2000)      20
dtype: int64

In [19]:
pd.__version__

u'0.20.1'

In [20]:
pop[1::2]

(Cali, 2010)    37
(NY, 2010)      19
(TX, 2010)      25
dtype: int64

In [25]:
a = list(pop.values[1::2])

In [24]:
a

[37, 19, 25]

In [26]:
pop.index

Index([(u'Cali', 2000), (u'Cali', 2010),   (u'NY', 2000),   (u'NY', 2010),
         (u'TX', 2000),   (u'TX', 2010)],
      dtype='object')

In [33]:
pop

(Cali, 2000)    33
(Cali, 2010)    37
(NY, 2000)      18
(NY, 2010)      19
(TX, 2000)      20
(TX, 2010)      25
dtype: int64

In [45]:
pop.index.values

array([('Cali', 2000), ('Cali', 2010), ('NY', 2000), ('NY', 2010),
       ('TX', 2000), ('TX', 2010)], dtype=object)

In [49]:
[x for x in pop.index.values if pop.index.values[x][1] == 2010]

/Users/MacBook4/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future
  if __name__ == '__main__':

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [50]:
pop[[i for i in pop.index if i[1] == 2010]]

(Cali, 2010)    37
(NY, 2010)      19
(TX, 2010)      25
dtype: int64

In [51]:
index_multi = pd.MultiIndex.from_tuples(index)

In [52]:
index_multi

MultiIndex(levels=[[u'Cali', u'NY', u'TX'], [2000, 2010]],
           labels=[[0, 0, 1, 1, 2, 2], [0, 1, 0, 1, 0, 1]])

In [74]:
pop = pop.reindex(index_multi)

In [76]:
pop.index

MultiIndex(levels=[[u'Cali', u'NY', u'TX'], [2000, 2010]],
           labels=[[0, 0, 1, 1, 2, 2], [0, 1, 0, 1, 0, 1]])

In [77]:
pop[:,2010]

Cali    37
NY      19
TX      25
dtype: int64

In [78]:
pop[:,2000]

Cali    33
NY      18
TX      20
dtype: int64

In [79]:
''' multi index is very useful if you have multi key'''

' multi index is very useful if you have multi key'

In [80]:
''' this can be represented by Dataframe since there are multi key which made the series to a table'''

' this can be represented by Dataframe since there are multi key which made the series to a table'

In [81]:
pop_df = pop.unstack()

In [82]:
pop_df

      2000  2010
Cali    33    37
NY      18    19
TX      20    25

In [84]:
pop_df.stack()

Cali  2000    33
      2010    37
NY    2000    18
      2010    19
TX    2000    20
      2010    25
dtype: int64

In [85]:
pop = pd.Series(populations, index = index)

In [86]:
pop

(Cali, 2000)    33
(Cali, 2010)    37
(NY, 2000)      18
(NY, 2010)      19
(TX, 2000)      20
(TX, 2010)      25
dtype: int64

In [92]:
index_multi = pd.MultiIndex.from_tuples(index)

In [93]:
pop = pop.reindex(index_multi)

In [94]:
pop

Cali  2000    33
      2010    37
NY    2000    18
      2010    19
TX    2000    20
      2010    25
dtype: int64

In [98]:
pop_df = pop.unstack() ''' unstack method goes from a multi indexed series to a DataFrame'''

In [99]:
pop_df

      2000  2010
Cali    33    37
NY      18    19
TX      20    25

In [100]:
pop = pop_df.stack()''' Stack method goes from DataFrame to multi indexed series'''

In [101]:
pop

Cali  2000    33
      2010    37
NY    2000    18
      2010    19
TX    2000    20
      2010    25
dtype: int64