In [1]:
import seaborn as sns
import pandas as pd

In [4]:
planets = sns.load_dataset('planets')

In [5]:
planets.shape

(1035, 6)

In [6]:
planets.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [7]:
type(planets)

pandas.core.frame.DataFrame

In [10]:
import pandas as pd
import numpy as np

In [11]:
rng = np.random.RandomState(42)

In [13]:
ser = pd.Series(rng.rand(5))

In [14]:
ser

0    0.374540
1    0.950714
2    0.731994
3    0.598658
4    0.156019
dtype: float64

In [15]:
ser.sum()

2.811925491708157

In [16]:
ser.mean()

0.5623850983416314

In [18]:
planets.dropna().describe() '''describe gives the whole data sets mean, count and dropna removes the 'Nan' '''

          number  orbital_period        mass    distance         year
count  498.00000      498.000000  498.000000  498.000000   498.000000
mean     1.73494      835.778671    2.509320   52.068213  2007.377510
std      1.17572     1469.128259    3.636274   46.596041     4.167284
min      1.00000        1.328300    0.003600    1.350000  1989.000000
25%      1.00000       38.272250    0.212500   24.497500  2005.000000
50%      1.00000      357.000000    1.245000   39.940000  2009.000000
75%      2.00000      999.600000    2.867500   59.332500  2011.000000
max      6.00000    17337.500000   25.000000  354.000000  2014.000000

In [19]:
from datetime import datetime
datetime(year = 2015, month = 7, day = 4)

datetime.datetime(2015, 7, 4, 0, 0)

In [20]:
from dateutil import parser

In [21]:
date = parser.parse("4th of July, 2015")

In [22]:
date

datetime.datetime(2015, 7, 4, 0, 0)

In [23]:
date = np.array('2015-07-04', dtype = np.datetime64) ''' this is creation of time series'''

In [24]:
date

array(datetime.date(2015, 7, 4), dtype='datetime64[D]')

In [25]:
date + np.arange(12) '''this is numpy braodcasting'''

array(['2015-07-04', '2015-07-05', '2015-07-06', '2015-07-07',
       '2015-07-08', '2015-07-09', '2015-07-10', '2015-07-11',
       '2015-07-12', '2015-07-13', '2015-07-14', '2015-07-15'], dtype='datetime64[D]')

In [27]:
date_ns = np.datetime64('2015-07-04 12:59:50.50','ns')

In [28]:
date_ns + 1

numpy.datetime64('2015-07-04T12:59:50.500000001')

In [29]:
date = np.datetime64('2015-07-04','M')

In [30]:
date + np.arange(12)

array(['2015-07', '2015-08', '2015-09', '2015-10', '2015-11', '2015-12',
       '2016-01', '2016-02', '2016-03', '2016-04', '2016-05', '2016-06'], dtype='datetime64[M]')

In [33]:
date = np.datetime64('2015-07-04','Y')
date + np.arange(12)

array(['2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022',
       '2023', '2024', '2025', '2026'], dtype='datetime64[Y]')

In [34]:
date = pd.to_datetime('4th July, 2015')

In [35]:
date

Timestamp('2015-07-04 00:00:00')

In [36]:
date.strftime('%A')

'Saturday'

In [37]:
date + pd.to_timedelta(np.arange(12),'M')

DatetimeIndex(['2015-07-04 00:00:00', '2015-08-03 10:29:06',
               '2015-09-02 20:58:12', '2015-10-03 07:27:18',
               '2015-11-02 17:56:24', '2015-12-03 04:25:30',
               '2016-01-02 14:54:36', '2016-02-02 01:23:42',
               '2016-03-03 11:52:48', '2016-04-02 22:21:54',
               '2016-05-03 08:51:00', '2016-06-02 19:20:06'],
              dtype='datetime64[ns]', freq=None)