In [1]:
import pandas as pd

In [2]:
import numpy as np

In [4]:
data = pd.Series([0.25,0.5,0.75,1.0], index = [ 'a','b','c','d'])

In [5]:
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [6]:
'a' in data

True

In [7]:
data.keys()

Index([u'a', u'b', u'c', u'd'], dtype='object')

In [8]:
data.index

Index([u'a', u'b', u'c', u'd'], dtype='object')

In [9]:
data[(data > 0.3)]

b    0.50
c    0.75
d    1.00
dtype: float64

In [10]:
data[(data > 0.3) & (data < 0.8)]

b    0.50
c    0.75
dtype: float64

In [11]:
data[['a', 'e']]

a    0.25
e     NaN
dtype: float64

In [12]:
data = pd.Series(['a','b','c'], index = [1,3,5])

In [13]:
'''loc, iloc, ix'''

'loc, iloc, ix'

In [14]:
data.loc[1:3] ''' this is implicit indexing and hence shows folllowing values'''

1    a
3    b
dtype: object

In [15]:
data.iloc[1:3]

3    b
5    c
dtype: object

In [16]:
''' If you have defines an integer explicit index for a series, the:
     my_Series[1] wll use explicit indexing, while,
     my_Series[1:3] will use implicit indexing for slicing
 Therefore
     loc: allows indexing and slicing that always referencing the EXPLICIT index
     iloc : allows indexing and clisicng that always referenciing the IMPLICIT index
'''

' If you have defines an integer explicit index for a series, the:\n     my_Series[1] wll use explicit indexing, while,\n     my_Series[1:3] will use implicit indexing for slicing\n Therefore\n     loc: allows indexing and slicing that always referencing the EXPLICIT index\n     iloc : allows indexing and clisicng that always referenciing the IMPLICIT index\n'

In [17]:
area_dict = {'CAL':423, 'TX':695, 'NY':141, 'FL' : 170, 'IL': 149}

In [18]:
pop_dict = {'CAL':38,'TX':19, 'NY':12, 'FL':19, 'IL':26}

In [19]:
area = pd.Series(area_dict)
population = pd.Series(pop_dict)
states = pd.DataFrame({'population':population, 'area':area})

In [20]:
states

     area  population
CAL   423          38
FL    170          19
IL    149          26
NY    141          12
TX    695          19

In [21]:
states['area']

CAL    423
FL     170
IL     149
NY     141
TX     695
Name: area, dtype: int64

In [23]:
states['area'] is states.area ''' this is just to prove the states.area is same'''

True

In [24]:
states

     area  population
CAL   423          38
FL    170          19
IL    149          26
NY    141          12
TX    695          19

In [25]:
states['density'] = states['population']/states['area']

In [26]:
states

     area  population   density
CAL   423          38  0.089835
FL    170          19  0.111765
IL    149          26  0.174497
NY    141          12  0.085106
TX    695          19  0.027338

In [27]:
states.values

array([[  4.23000000e+02,   3.80000000e+01,   8.98345154e-02],
       [  1.70000000e+02,   1.90000000e+01,   1.11764706e-01],
       [  1.49000000e+02,   2.60000000e+01,   1.74496644e-01],
       [  1.41000000e+02,   1.20000000e+01,   8.51063830e-02],
       [  6.95000000e+02,   1.90000000e+01,   2.73381295e-02]])

In [28]:
states.T

                   CAL          FL          IL          NY          TX
area        423.000000  170.000000  149.000000  141.000000  695.000000
population   38.000000   19.000000   26.000000   12.000000   19.000000
density       0.089835    0.111765    0.174497    0.085106    0.027338

In [29]:
states.loc[states.density > 0.08, ['population','density']]''' by this way we are doing both masking and list of column'''

     population   density
CAL          38  0.089835
FL           19  0.111765
IL           26  0.174497
NY           12  0.085106

In [30]:
states.ix[:3, :'population']

/Users/MacBook4/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix
  if __name__ == '__main__':

     area  population
CAL   423          38
FL    170          19
IL    149          26

In [31]:
pd.__version__

u'0.20.1'