In [1]:
import pandas as pd

In [2]:
print(pd.__version__)

0.19.2

In [4]:
pd.show_versions()

INSTALLED VERSIONS
------------------
commit: None
python: 2.7.13.final.0
python-bits: 64
OS: Windows
OS-release: 7
machine: AMD64
processor: Intel64 Family 6 Model 37 Stepping 5, GenuineIntel
byteorder: little
LC_ALL: None
LANG: None
LOCALE: None.None

pandas: 0.19.2
nose: 1.3.7
pip: 9.0.1
setuptools: 27.2.0
Cython: 0.25.2
numpy: 1.11.3
scipy: 0.18.1
statsmodels: 0.6.1
xarray: None
IPython: 5.1.0
sphinx: 1.5.1
patsy: 0.4.1
dateutil: 2.6.0
pytz: 2016.10
blosc: None
bottleneck: 1.2.0
tables: 3.2.2
numexpr: 2.6.1
matplotlib: 2.0.0
openpyxl: 2.4.1
xlrd: 1.0.0
xlwt: 1.2.0
xlsxwriter: 0.9.6
lxml: 3.7.2
bs4: 4.5.3
html5lib: None
httplib2: None
apiclient: None
sqlalchemy: 1.1.5
pymysql: None
psycopg2: None
jinja2: 2.9.4
boto: 2.45.0
pandas_datareader: None

In [5]:
import numpy as np

In [6]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

In [7]:
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [8]:
data

{'age': [2.5, 3, 0.5, nan, 5, 2, 4.5, nan, 7, 3],
 'animal': ['cat',
  'cat',
  'snake',
  'dog',
  'dog',
  'cat',
  'snake',
  'cat',
  'dog',
  'dog'],
 'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no'],
 'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]}

In [9]:
labels

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [10]:
df = pd.DataFrame(data, index=labels)

In [11]:
df

   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
c  0.5  snake       no       2
d  NaN    dog      yes       3
e  5.0    dog       no       2
f  2.0    cat       no       3
g  4.5  snake       no       1
h  NaN    cat      yes       1
i  7.0    dog       no       2
j  3.0    dog       no       1

In [15]:
df.describe()

            age     visits
count  8.000000  10.000000
mean   3.437500   1.900000
std    2.007797   0.875595
min    0.500000   1.000000
25%    2.375000   1.000000
50%    3.000000   2.000000
75%    4.625000   2.750000
max    7.000000   3.000000

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
age         8 non-null float64
animal      10 non-null object
priority    10 non-null object
visits      10 non-null int64
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes

In [17]:
df[:3]

   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
c  0.5  snake       no       2

In [18]:
df.head(3)

   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
c  0.5  snake       no       2

In [20]:
df.iloc[:3]

   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
c  0.5  snake       no       2

In [21]:
df.iloc?

In [24]:
df.loc[:'c']

   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
c  0.5  snake       no       2

In [25]:
len(labels)

10

In [26]:
len(data)

4

In [28]:
data.items()

[('priority',
  ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']),
 ('age', [2.5, 3, 0.5, nan, 5, 2, 4.5, nan, 7, 3]),
 ('visits', [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]),
 ('animal',
  ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'])]

In [29]:
len(data.items())

4

In [44]:
df.loc[:, ['animal', 'age']]

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

In [46]:
df.loc[:'age']

   age animal priority  visits
a  2.5    cat      yes       1

In [50]:
df.loc?

In [49]:
df.iloc[:1]

   age animal priority  visits
a  2.5    cat      yes       1

In [53]:
df['visits']>2

a    False
b     True
c    False
d     True
e    False
f     True
g    False
h    False
i    False
j    False
Name: visits, dtype: bool

In [54]:
df[df['visits']>2]

   age animal priority  visits
b  3.0    cat      yes       3
d  NaN    dog      yes       3
f  2.0    cat       no       3

In [62]:
df[[1]]

  animal
a    cat
b    cat
c  snake
d    dog
e    dog
f    cat
g  snake
h    cat
i    dog
j    dog

In [63]:
df?

In [68]:
df.from_items['animal']

TypeError: 'instancemethod' object has no attribute '__getitem__'

In [78]:
df['visits']==Nan

NameError: name 'Nan' is not defined

In [79]:
df['visits']

a    2
b    2
c    2
d    2
e    2
f    2
g    2
h    2
i    2
j    2
Name: visits, dtype: int64

In [80]:
df

   age animal priority  visits
a  2.5    cat      yes       2
b  3.0    cat      yes       2
c  0.5  snake       no       2
d  NaN    dog      yes       2
e  5.0    dog       no       2
f  2.0    cat       no       2
g  4.5  snake       no       2
h  NaN    cat      yes       2
i  7.0    dog       no       2
j  3.0    dog       no       2

In [81]:
dfc = pd.DataFrame({'A':['aaa','bbb','ccc'],'B':[1,2,3]})

In [84]:
dfc.loc[1,'A'] = 11

In [86]:
dfc.loc?