In [6]:
import seaborn as sns
import pandas as pd
import numpy as np

In [4]:
planets = sns.load_dataset('planets')

In [5]:
planets.shape

(1035, 6)

In [8]:
df = pd.DataFrame({'key':['A','B','C','A','B','C'],
                  'data':range(6)
                  }, 
                  columns = ['key','data'])

In [13]:
df.groupby('key')

In [15]:
type(df.groupby('key'))

pandas.core.groupby.DataFrameGroupBy

In [14]:
df

   data key
0     0   A
1     1   B
2     2   C
3     3   A
4     4   B
5     5   C

In [16]:
df.groupby('key').sum()

     data
key
A       3
B       5
C       7

In [17]:
df.groupby('key').count()

     data
key
A       2
B       2
C       2

In [18]:
df.groupby('key').mean(), df.groupby('key').std()

(     data
 key
 A     1.5
 B     2.5
 C     3.5,         data
 key
 A    2.12132
 B    2.12132
 C    2.12132)

In [19]:
planets.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [20]:
plantes.shape

(1035, 6)

In [21]:
planets.groupby('method')

In [23]:
planets.groupby('method')['orbital_period'].median()

method
Astrometry                         631.180000
Eclipse Timing Variations         4343.500000
Imaging                          27500.000000
Microlensing                      3300.000000
Orbital Brightness Modulation        0.342887
Pulsar Timing                       66.541900
Pulsation Timing Variations       1170.000000
Radial Velocity                    360.200000
Transit                              5.714932
Transit Timing Variations           57.011000
Name: orbital_period, dtype: float64

In [24]:
planets.groupby('method')['mass'].mean()

method
Astrometry                            NaN
Eclipse Timing Variations        5.125000
Imaging                               NaN
Microlensing                          NaN
Orbital Brightness Modulation         NaN
Pulsar Timing                         NaN
Pulsation Timing Variations           NaN
Radial Velocity                  2.630699
Transit                          1.470000
Transit Timing Variations             NaN
Name: mass, dtype: float64

In [25]:
planets.groupby('method')['year'].mean()

method
Astrometry                       2011.500000
Eclipse Timing Variations        2010.000000
Imaging                          2009.131579
Microlensing                     2009.782609
Orbital Brightness Modulation    2011.666667
Pulsar Timing                    1998.400000
Pulsation Timing Variations      2007.000000
Radial Velocity                  2007.518987
Transit                          2011.236776
Transit Timing Variations        2012.500000
Name: year, dtype: float64

In [26]:
planets.groupby('method')['year'].min()

method
Astrometry                       2010
Eclipse Timing Variations        2008
Imaging                          2004
Microlensing                     2004
Orbital Brightness Modulation    2011
Pulsar Timing                    1992
Pulsation Timing Variations      2007
Radial Velocity                  1989
Transit                          2002
Transit Timing Variations        2011
Name: year, dtype: int64

In [27]:
planets.groupby('method')['year'].count()

method
Astrometry                         2
Eclipse Timing Variations          9
Imaging                           38
Microlensing                      23
Orbital Brightness Modulation      3
Pulsar Timing                      5
Pulsation Timing Variations        1
Radial Velocity                  553
Transit                          397
Transit Timing Variations          4
Name: year, dtype: int64

In [29]:
for (method,group) in planets.groupby('method'):
    print "{0:30s} shape={1}".format(method,group.shape)

Astrometry                     shape=(2, 6)
Eclipse Timing Variations      shape=(9, 6)
Imaging                        shape=(38, 6)
Microlensing                   shape=(23, 6)
Orbital Brightness Modulation  shape=(3, 6)
Pulsar Timing                  shape=(5, 6)
Pulsation Timing Variations    shape=(1, 6)
Radial Velocity                shape=(553, 6)
Transit                        shape=(397, 6)
Transit Timing Variations      shape=(4, 6)

In [30]:
# groupby is almost like lazy evaluation, it is part of pandas. The groupby object is extension of DataFrame
# it does not return until we call the function according to request and evaluated when requested, this is called Lazy evaluation

In [36]:
planets.groupby('method')['year'].describe()

,count,mean,std,min,25%,50%,75%,max
method,,,,,,,,
Astrometry,2.0,2011.500000,2.121320,2010.0,2010.75,2011.5,2012.25,2013.0
Eclipse Timing Variations,9.0,2010.000000,1.414214,2008.0,2009.00,2010.0,2011.00,2012.0
Imaging,38.0,2009.131579,2.781901,2004.0,2008.00,2009.0,2011.00,2013.0
Microlensing,23.0,2009.782609,2.859697,2004.0,2008.00,2010.0,2012.00,2013.0
Orbital Brightness Modulation,3.0,2011.666667,1.154701,2011.0,2011.00,2011.0,2012.00,2013.0
Pulsar Timing,5.0,1998.400000,8.384510,1992.0,1992.00,1994.0,2003.00,2011.0
Pulsation Timing Variations,1.0,2007.000000,NaN,2007.0,2007.00,2007.0,2007.00,2007.0
Radial Velocity,553.0,2007.518987,4.249052,1989.0,2005.00,2009.0,2011.00,2014.0
Transit,397.0,2011.236776,2.077867,2002.0,2010.00,2012.0,2013.00,2014.0
Transit Timing Variations,4.0,2012.500000,1.290994,2011.0,2011.75,2012.5,2013.25,2014.0

In [33]:
pd.__version__

u'0.20.1'

In [37]:
%timeit planets.groupby('method')['year'].describe()

10 loops, best of 3: 19.3 ms per loop

In [44]:
rng = np.random.RandomState(3) # RandomState is used as the seed for the random method

In [45]:
df = pd.DataFrame({'key':['A','B','C','A','B','C'],
                  'data1':range(6),
                  'data2':rng.randint(0,10,6) 
                  }, 
                  columns = ['key','data1','data2'])

In [46]:
df

  key  data1  data2
0   A      0      8
1   B      1      9
2   C      2      3
3   A      3      8
4   B      4      8
5   C      5      0

In [47]:
df.groupby('key').aggregate(['min',np.median,max])

    data1            data2
      min median max   min median max
key
A       0    1.5   3     8    8.0   8
B       1    2.5   4     8    8.5   9
C       2    3.5   5     0    1.5   3

In [48]:
df.groupby('key').aggregate({'data1':'min',
                            'data2':'max'})

     data1  data2
key
A        0      8
B        1      9
C        2      3

In [63]:
def filter_func(x):
    return x['data2'].std > 7

In [64]:
df.groupby('key').std()

       data1     data2
key
A    2.12132  0.000000
B    2.12132  0.707107
C    2.12132  2.121320

In [65]:
df.groupby('key').filter(filter_func)

  key  data1  data2
0   A      0      8
1   B      1      9
2   C      2      3
3   A      3      8
4   B      4      8
5   C      5      0

In [69]:
def norm_by_data2(x):
    x['data1'] /= x['data2'].sum()
    return x

In [67]:
df

  key  data1  data2
0   A      0      8
1   B      1      9
2   C      2      3
3   A      3      8
4   B      4      8
5   C      5      0

In [70]:
df.groupby('key').apply(norm_by_data2)

  key     data1  data2
0   A  0.000000      8
1   B  0.058824      9
2   C  0.666667      3
3   A  0.187500      8
4   B  0.235294      8
5   C  1.666667      0

In [71]:
L = [0,1,0,1,2,0]

In [72]:
print df.groupby(L).sum() ''' this is grouping by List given by the user'''

   data1  data2
0      7     11
1      4     17
2      4      8

In [73]:
df

  key  data1  data2
0   A      0      8
1   B      1      9
2   C      2      3
3   A      3      8
4   B      4      8
5   C      5      0