In [1]:
import numpy as np
import pandas as pd

In [2]:
area_dict = {'CAL':423, 'TX':695, 'NY':141, 'FL' : 170, 'IL': 149}

In [3]:
area = pd.Series(area_dict)

In [4]:
area

CAL    423
FL     170
IL     149
NY     141
TX     695
dtype: int64

In [5]:
pop_dict = {'CAL':38,'TX':19, 'NY':12, 'FL':19, 'IL':26}

In [6]:
population = pd.Series(pop_dict)

In [7]:
states = pd.DataFrame({'population':population, 'area':area})

In [8]:
states

     area  population
CAL   423          38
FL    170          19
IL    149          26
NY    141          12
TX    695          19

In [9]:
states['population']

CAL    38
FL     19
IL     26
NY     12
TX     19
Name: population, dtype: int64

In [10]:
states['population']['CAL':'IL']

CAL    38
FL     19
IL     26
Name: population, dtype: int64

In [11]:
states.index

Index([u'CAL', u'FL', u'IL', u'NY', u'TX'], dtype='object')

In [12]:
states.columns

Index([u'area', u'population'], dtype='object')

In [15]:
states.columns[0]

'area'

In [16]:
pd.DataFrame(population, columns=['population'])

     population
CAL          38
FL           19
IL           26
NY           12
TX           19

In [17]:
data = [{'a':i, 'b':2*i} for i in range(3)]

In [18]:
data

[{'a': 0, 'b': 0}, {'a': 1, 'b': 2}, {'a': 2, 'b': 4}]

In [19]:
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [20]:
pd.DataFrame(np.random.rand(3,2), columns = ['foo','bar'], index = ['a','b','c'])

        foo       bar
a  0.751034  0.588939
b  0.052835  0.253489
c  0.353761  0.345541

In [21]:
pd.DataFrame.align?

In [22]:
ind = pd.Index([2,3,5,7])

In [23]:
ind

Int64Index([2, 3, 5, 7], dtype='int64')

In [24]:
ind[1]

3

In [25]:
ind[::2]

Int64Index([2, 5], dtype='int64')

In [26]:
print (ind.size, ind.shape, ind.ndim, ind.dtype)

(4, (4,), 1, dtype('int64'))

In [28]:
ind[1] = 5 '''this does not happen becuase index is not mutable object'''

SyntaxError: invalid syntax (<ipython-input-28-e88e7a465b37>, line 1)