In [1]:
import pandas as pd
import numpy as np

In [2]:
rng = np.random.RandomState(42)

In [3]:
ser = pd.Series(rng.randint(0,10,4))

In [4]:
ser

0    6
1    3
2    7
3    4
dtype: int64

In [8]:
df = pd.DataFrame(rng.randint(0,10,(3,4)), 
                  columns =['A','B','C','D'])

In [9]:
df

   A  B  C  D
0  6  9  2  6
1  7  4  3  7
2  7  2  5  4

In [10]:
np.exp(ser)

0     403.428793
1      20.085537
2    1096.633158
3      54.598150
dtype: float64

In [11]:
np.sin(df * np.pi / 4)

          A             B         C             D
0 -1.000000  7.071068e-01  1.000000 -1.000000e+00
1 -0.707107  1.224647e-16  0.707107 -7.071068e-01
2 -0.707107  1.000000e+00 -0.707107  1.224647e-16

In [12]:
area_dict = {'TX':695, 'NY':141, 'FL' : 170, 'IL': 149}
pop_dict = {'CAL':38,'TX':19, 'NY':12, 'FL':19}
area = pd.Series(area_dict)
population = pd.Series(pop_dict)
states = pd.DataFrame({'population':population, 'area':area})

In [13]:
states

      area  population
CAL    NaN        38.0
FL   170.0        19.0
IL   149.0         NaN
NY   141.0        12.0
TX   695.0        19.0

In [14]:
population /area ''' thus it handles  empty area'''

CAL         NaN
FL     0.111765
IL          NaN
NY     0.085106
TX     0.027338
dtype: float64

In [15]:
states['population']['IL']

nan

In [20]:
states['population']['IL'] == pd.np.nan

False

In [18]:
pd.isnull(states['population']['IL'])

True

In [21]:
area.index | population.index

Index([u'CAL', u'FL', u'IL', u'NY', u'TX'], dtype='object')

In [23]:
A = pd.Series([2,4,6], index=[0,1,2])

In [24]:
B = pd.Series([1,3,5], index=[1,2,3])

In [25]:
A + B

0    NaN
1    5.0
2    9.0
3    NaN
dtype: float64

In [26]:
A.add(B, fill_value = 0) ''' when there is index issue then it fills index with 0'''

0    2.0
1    5.0
2    9.0
3    5.0
dtype: float64

In [30]:
A = pd.DataFrame(rng.randint(0,20,(2,2)), 
                 columns = list('AB'))

In [35]:
B = pd.DataFrame(rng.randint(0,20,(4,2)), 
                 columns = list('BC'))

In [36]:
A + B

    A     B   C
0 NaN  15.0 NaN
1 NaN   7.0 NaN
2 NaN   NaN NaN
3 NaN   NaN NaN

In [37]:
A = rng.randint(10, size=(3,4))

In [38]:
A

array([[1, 9, 8, 9],
       [4, 1, 3, 6],
       [7, 2, 0, 3]])

In [41]:
df = pd.DataFrame(A, columns = list ('QRST'))

In [42]:
df

   Q  R  S  T
0  1  9  8  9
1  4  1  3  6
2  7  2  0  3

In [43]:
df - df.iloc[0] ''' This df subtracting the first row items'''

   Q  R  S  T
0  0  0  0  0
1  3 -8 -5 -3
2  6 -7 -8 -6

In [44]:
df.subtract(df['R'], axis =  0)''' This df subtracting the first row items'''

   Q  R  S  T
0 -8  0 -1  0
1  3  0  2  5
2  5  0 -2  1

In [45]:
'''in class 1,2,3,4 How to create series, dataFrame, why is it required, how they are changed from dictionary, 
how to access particular fields, how to do opearation with series and data frames'''

'How to create series, dataFRame, why is it required, how they are changed from dictionary, how to access particular fields'